body {
    font-family: "Poppins", sans-serif;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

#name {
    color: coral;
}

.page {
    display: flex;
    margin-bottom: 10%;
}

.text {
    width: 45%;
    padding-left: 5%;
    padding-top: 6%;
    text-align: justify;
}

.photo {
    width: 65%;
    margin: 0px 5px 10px 0px;
    padding-bottom: 5%;
}

.photo img {
    width: 90%;

}

.link-button {
    text-decoration: none;
    padding: 3px 13px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    background-image: linear-gradient(tomato, coral);
}

#goal {
    margin-top: 6%;
    margin-right: 5%;

}

.cv {
    text-decoration: none;
    padding: 3px 13px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    background-image: linear-gradient(darkblue, blue);
}

#detail {
    display: flex;
}

.single-line {
    width: 50%;
    margin-left: 200px;
}

.orange-color {
    color: coral;
}

.blue-color {
    color: darkblue;
}

#personal-information {
    display: flex;
}

.make-box {
    width: 30%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 8%;
    margin-bottom: 100px;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 20px;
}

#versity {
    border-left: 5px solid coral;
}

#work {
    border-left: 5px solid darkblue;
}