body {
    font-family: "Poppins", sans-serif;

}

h1 {
    font-size: 50px;
}

#name {
    color: coral;
}

.page {
    display: flex;
    margin-bottom: 20%;
}

.text {
    width: 45%;
    padding-left: 5%;
    padding-top: 6%;
    text-align: justify;
}

.photo {
    width: 65%;
    margin: 0px 5px 10px 0px;
    padding-bottom: 5%;
}

.photo img {
    width: 90%;

}

.link-button {
    text-decoration: none;
    padding: 3px 13px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    background-image: linear-gradient(tomato, coral);
}

#goal {
    margin-top: 6%;
    margin-right: 5%;

}

.cv {
    text-decoration: none;
    padding: 3px 13px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    background-image: linear-gradient(darkblue, blue);
}